// Navigation

.navigation {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 4rem;
  font-size: 1.2rem;
  color: #fff;
}

/////////////// HEADER

.header {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 4px;

  &__logo {
    height: 7rem;
    width: 6rem;
    margin-right: 5rem;
  }

  &__h1 {
    font-family: 'Dancing Script';
    font-weight: 700;
  }
}

//////////////////// MAIN

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 16vw);
  grid-gap: 0.5rem;

  margin-top: 2rem;

  &__item {
    overflow: hidden;

    &--1 {
      grid-column: 1 / span 2;
      grid-row: 1 / -1;
    }

    &-text {
      grid-column: 2 / span 2;
      grid-row: 2 / 3;
      transform: translateY(-6rem);
      margin-left: 1rem;
      color: #fff;
    }

    &--2 {
      grid-column: 3 / 5;
      grid-row: 1 / span 1;
      // fixes bug of white space below this image
      width: 100%;
      height: 100%;
      object-fit: cover;
      ///////////////////
    }

    &--3 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    &--4 {
      grid-column: 4 / 5;
      grid-row: 2 / 3;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
  }

  &__img:hover {
    transform: scale(1.2);
  }
}

// SECTION SECONDARY

.secondary {
  display: flex;
  flex-flow: row;
  width: 66.7%;
  background-color: aqua;
  height: 50rem;

  &__left {
    width: 60%;
    background-color: orange;
    margin: 2rem 2rem;

    &-img {
      width: 100%;
      height: auto;
      // object-fit: cover;
    }
  }

  &__right {
    width: 40%;
    height: auto;
    padding: 0;
    margin-top: 2rem;

    &-content {  
        display: flex;
      }

    &-img {
      margin: 0 auto;
      padding: 0;
      width: 10rem;
      height: 7rem;
      object-fit: cover;
    }
  }
}

